main.container{
    margin-top: 70px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        width: 90%;
    }
}

img {
    max-width: 100%;
}

.form {
    position: absolute;
    bottom: 0px;
    width: 90%;
    margin: 0 auto;
}

.table {
    height: auto;
    overflow: auto;
}




/* 登入專用開始 */
 #login_form {
    border-radius: 15px;
    border: 1px solid #999;
    padding: 30px;
    margin-top: 80px;
 }
/* 登入專用結束 */
.system_tool button{
    border: 1px solid #fff;
}